* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  background: #f0f5f7;
}

main {
  min-width: 100vw;
  min-height: 100vh;
}

.container {
  position: relative;
  max-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container header {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 100%;
  min-height: 50vh;
  background: #1d539e;
  color: #fff;
}

.container h1 {
  margin-top: 50px;
  max-width: 553px;
  font-weight: 700;
  font-size: 3rem;
  text-align: center;
}

.container p {
  margin-top: 15px;
  max-width: 553px;
  text-align: center;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 24.5px;
}

section.cards {
  position: absolute;
  display: flex;
  gap: 30px;
  margin-top: 250px;
  align-items: center;
}

.card {
  max-width: 340px;
  height: 450px;
  border: none;
  border-radius: 8px;
  background: #fff;
  box-shadow: 20px 30px 20px -30px #AFD6FF;
  transition: all 0.2s;
}

.card:hover {
  transform: scale(1.1, 1.1);
}

.card h2 {
  font-size: 18px;
  font-weight: 600;
  margin-top: 30px;
  margin-left: 30px;
}

.card h3 {
  padding: 8px 24px;
  background: #1d539e;
  border: none;
  border-radius: 40px;
  font-size: 12px;
  color: #fff;
  margin: 11px 20px 11px 128px;
}

.card .price {
  display: flex;
  align-items: flex-end;
  margin: 20px auto 10px 29px; 
}

.card .price .value p {
  font-weight: 700;
}

.price .value p span {
  font-size: 36px;
}

.price p {
  margin: 0;
  font-size: 18px;
  font-weight: 400;
}

.card p.info {
  margin-left: 31px;
  margin-top: 0;
  font-size: 14px;
  text-align: left;
}

hr {
  margin: 20px 30px;
  border: 1px solid #eeeeee;
}

.card.free ul {
  margin: 20px 30px 100px 31px;
}

.card ul li {
  margin-bottom: 20px;
  display: flex;
  gap: 15px;
  align-items: center;
  list-style: none;
}

.card ul li:last-child {
  margin-bottom: 0;
}

.card ul li p {
  font-size: 14px;
  margin: 0;
}

.card button {
  margin: 0 30px 30px 29px;
  border: 1px solid #1d539e;
  border-radius: 10px;
  width: 296px;
  padding: 12px 24px;
  text-transform: uppercase;
  color: #1d539e;
  background: none;
  font-size: 1rem;
  font-weight: 700;
  transition: all .2s;
  cursor: pointer;
}

.card button:hover {
  background: #1d539e;
  color: #fff;
}

.card.basic {
  height: 450px;
}

.card.basic .type {
  display: flex;
  align-items: center;
  background: #ffcc29;
  border-radius: 8px 8px 0 0;
}

.card.basic .type h2 {
  margin: 20px 0 17px 30px;
  color: #1d539e;
}

.card.basic .price {
  margin-top: 12px;
}

.card.basic ul {
  margin: 20px 30px 55px 31px;
}

.card.profissional ul {
  margin: 20px 30px 21px 31px;
}

.card.profissional ul li {
  margin-bottom: 15px;
}

.card.profissional ul li:last-child {
  margin-bottom: 0;
}

@media screen and (min-width:721px) and (max-width: 1100px) {
  section.cards {
    flex-wrap: wrap;
    justify-content: center;    
  }
}

@media screen and (min-width:341px) and (max-width: 720px) {
  .container header {
    padding: 1rem;
  }

  section.cards {
    flex-direction: column;
    margin-top: 300px;
  }
}

@media screen and (max-width: 340px) {
  .container header {
  min-height: 60vh;
  }

  section.cards {
    flex-direction: column;
    margin-top: 400px;
  }

  .card {
    max-width: 100vw;
    height: max-content;
  }

  .card button {
    max-width: 100vw;
  }
}